body
{
    background-color: rgb(151, 184, 184);
}

.arrow
{
    height: 30px;
    width: 30px;
}

.name
{
    text-align: center;
    font-family: tahoma;
}

.details1
{
    padding: 10px;
    width: auto;
    margin: 5px;
    font-size: 25px;
    background-color: rgb(190, 222, 222);
    border-radius: 20px;
}

button
{
    float: right;
    padding: 5px;
}