body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(rgb(247, 151, 92), rgb(255, 255, 255) );
}

.content {
    overflow: hidden;
    width: 95%;
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(55, 80, 90);
    backdrop-filter: drop-shadow(-20px 20px 80px);
    box-shadow: -20px 20px 60px rgba(7, 6, 6,0.6);
    backdrop-filter: blur(10px);
    /* box-shadow: -20px 20px 80px rgba(7, 6, 6,0.5); */
}

.welcome{
    z-index: -1;
    height:600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/homie.jpg);
    background-position: center;
    background-size: cover;
}

.float{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#system{
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    font-weight: 600;
    background-color: rgba(247, 151, 92,0.8);
    border-radius: 20px;
    transition: 0.3s;
}

#system:hover{
    transform: scale(1.1);
}